img {
  width: 2.5em;
  height: 2.5em;
  margin-right: 0.5em;
  border-width: 0.2em;
  background-image: url(https://cdn.glitch.global/79368a4e-6c24-4f9e-b879-57ecc34b4e85/default-avatar.webp?v=1670511757410);
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.2s ease;
}

th,
td {
  padding: 3px;
}

.showOnHover {
  visibility: hidden;
}
body:hover .showOnHover {
  visibility: visible;
}

body::-webkit-scrollbar,
.hideScrollbar::-webkit-scrollbar {
  display: none;
}
.placeholderItem:not(:last-child) {
  display: none;
}
